@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

.canvas-container {
  width: 100%;
  height: 50vh;
}

.textAd {
  font-size: 6rem;
  margin: 0 auto;
  text-align: center;
}

@media (min-width:491px) and (max-width:920px) {
  .navDiv {
    width: 100%;
    margin: 0 auto
  }

  .canvas-container {
    position: relative;
    top: 25px;
    height: 35vh;
    width: "55%"
  }

  .textAdjust {
    width: 155px;
    height: 41px;
    margin-bottom: 05px;
  }

  .textAd {
    font-size: 5.2rem;
    margin: 0 auto;
    text-align: center;
  }



}


.textAdjust {
  margin: 0 auto;
  width: 300px;
  height: 50px
}

@media (max-width: 490px) {
  .canvas-container {
    position: relative;
    top: 83px;
    height: 35vh;
    width: "45%"
      /* Change the height value to your desired smaller size */
  }

  .textAd {
    position: relative;
    top: 55px;
    font-size: 4.2rem;
    margin: 0 auto;
    text-align: center;

  }

  .textAdjust {
    position: relative;
    top: 45px;
    width: 155px;
    height: 41px;
    margin-top: 105px;
    margin-bottom: 55px;

  }
}


html,
body,
#root {


  width: 100%;
  height: 100%;




  color: rgba(0, 157, 255, 0.87);
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(7, 58, 187, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(7, 58, 187, 1) 100%);

  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(7, 58, 187, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#073ABB', endColorstr='#000000', GradientType=0);

  /* ie 10+ */
  background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(7, 58, 187, 1) 100%);

  /* global 94%+ browsers support */
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(7, 58, 187, 1) 100%);
}

.fade-in-image {
  opacity: 0;
  /* Set the initial opacity to 0 */
  transition: opacity 1.5s;
  /* Define the transition property with duration */
}

.fade-in {
  opacity: 1;
  /* Change the opacity to 1 on intersection */
}